$primary: #3f51b5;
$secondary: #673ab7;
$background-primary: #f6f6f6;
$background-primary-light: #f3f8ed;

$margin-l: 20px;
$margin-m: 10px;
$margin-s: 5px;

$padding-l: 20px;
$padding-m: 10px;
$padding-s: 5px;

$border-l: 8px;
$border-s: 6px;
$border-m: 8px;
